
{%  extends 'home/basepage.html' %}
{% load staticfiles %}

{% block body %}


<div class="container-fluid bg-3 text-center">
  <h1 class="margin"><strong>BẢNG  KATAKANA</strong></h1><br>

  <div class="row">
    <div class="col-sm-1"></div>

    <div class="col-sm-2">
      <div class="container bg-3">
          <ul class="list-group" style="width: 26%">
            <li class="list-group-item">
              <img src="{%static 'a-kata.png' %}" class="img-responsive margin" style="width:30%" alt="ImageA">
              <a>a</a>
              <img src="{%static 'a3.jpg' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li>
            <li class="list-group-item">
              <img src="{%static 'ka-kata.png' %}" class="img-responsive margin" style="width:30%" alt="ImageU">
              <a>ka</a>
              <img src="{%static 'ka3.jpg' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li>
            <li class="list-group-item">
              <img src="{%static 'sa-kata.png' %}" class="img-responsive margin" style="width:30%" alt="ImageU">
              <a>sa</a>
              <img src="{%static 'sa3.jpg' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
           </li>
            <li class="list-group-item">
              <img src="{%static 'ta-kata.png' %}" class="img-responsive margin" style="width:30%" alt="ImageU">
              <a>ta</a>
              <img src="{%static 'ta3.jpg' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li>
            <li class="list-group-item">
              <img src="{%static 'na-kata.png' %}" class="img-responsive margin" style="width:30%" alt="ImageU">
              <a>na</a>
              <img src="{%static 'na3.jpg' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li>
            <li class="list-group-item">
              <img src="{%static 'ha-kata.png' %}" class="img-responsive margin" style="width:30%" alt="ImageU">
              <a>ha</a>
              <img src="{%static 'ha3.jpg' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li>
            <li class="list-group-item">
              <img src="{%static 'ma-kata.png' %}" class="img-responsive margin" style="width:30%" alt="ImageU">
              <a>ma</a>
              <img src="{%static 'ma3.jpg' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li>
            <li class="list-group-item">
              <img src="{%static 'ra-kata.png' %}" class="img-responsive margin" style="width:30%" alt="ImageU">
              <a>ra</a>
              <img src="{%static 'ra3.jpg' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li>
            <li class="list-group-item">
              <img src="{%static 'ya-kata.png' %}" class="img-responsive margin" style="width:30%" alt="ImageU">
              <a>ya</a>
              <img src="{%static 'ya3.jpg' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li>
            <li class="list-group-item">
              <img src="{%static 'wa-kata.png' %}" class="img-responsive margin" style="width:30%" alt="ImageU">
              <a>wa</a>
              <img src="{%static 'wa3.jpg' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li>
            <li class="list-group-item">
              <img src="{%static 'n-kata.png' %}" class="img-responsive margin" style="width:30%" alt="ImageU">
              <a>n</a>
              <img src="{%static 'n3.jpg' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li>
          </ul>
        </div>
    </div>

    <div class="col-sm-2">
      <div class="container bg-3">
          <ul class="list-group" style="width: 26%">
              <li class="list-group-item">
              <img src="{%static 'e-kata.png' %}" class="img-responsive margin" style="width:30%" alt="ImageE">
              <a>e</a>
              <img src="{%static 'e3.jpg' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li>
              <li class="list-group-item">
              <img src="{%static 'ke-kata.png' %}" class="img-responsive margin" style="width:30%" alt="ImageU">
              <a>ke</a>
              <img src="{%static 'ke3.jpg' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li>
              <li class="list-group-item">
              <img src="{%static 'se-kata.png' %}" class="img-responsive margin" style="width:30%" alt="ImageU">
              <a>se</a>
              <img src="{%static 'se3.jpg' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li>
              <li class="list-group-item">
              <img src="{%static 'te-kata.png' %}" class="img-responsive margin" style="width:30%" alt="ImageU">
              <a>te</a>
              <img src="{%static 'te3.jpg' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li>
              <li class="list-group-item">
              <img src="{%static 'ne-kata.png' %}" class="img-responsive margin" style="width:30%" alt="ImageU">
              <a>ne</a>
              <img src="{%static 'ne3.jpg' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li>
              <li class="list-group-item">
              <img src="{%static 'he-kata.png' %}" class="img-responsive margin" style="width:30%" alt="ImageU">
              <a>he</a>
              <img src="{%static 'he3.jpg' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li>
              <li class="list-group-item">
              <img src="{%static 'me-kata.png' %}" class="img-responsive margin" style="width:30%" alt="ImageU">
              <a>me</a>
              <img src="{%static 'me3.jpg' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li>
              <li class="list-group-item">
              <img src="{%static 're-kata.png' %}" class="img-responsive margin" style="width:30%" alt="ImageU">
              <a>re</a>
              <img src="{%static 're3.jpg' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li>
          </ul>
        </div>
    </div>

    <div class="col-sm-2">
      <div class="container bg-3">
          <ul class="list-group" style="width: 26%">
              <li class="list-group-item">
              <img src="{%static 'u-kata.png' %}" class="img-responsive margin" style="width:30%" alt="ImageU">
              <a>u</a>
              <img src="{%static 'u3.jpg' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li>
              <li class="list-group-item">
              <img src="{%static 'ku-kata.png' %}" class="img-responsive margin" style="width:30%" alt="ImageU">
              <a>ku</a>
              <img src="{%static 'ku3.jpg' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li>
              <li class="list-group-item">
              <img src="{%static 'su-kata.png' %}" class="img-responsive margin" style="width:30%" alt="ImageU">
              <a>su</a>
              <img src="{%static 'su3.jpg' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li>
              <li class="list-group-item">
              <img src="{%static 'tsu-kata.png' %}" class="img-responsive margin" style="width:30%" alt="ImageU">
              <a>tsu</a>
              <img src="{%static 'tsu3.jpg' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li>
              <li class="list-group-item">
              <img src="{%static 'nu-kata.png' %}" class="img-responsive margin" style="width:30%" alt="ImageU">
              <a>nu</a>
              <img src="{%static 'nu3.jpg' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li>
              <li class="list-group-item">
              <img src="{%static 'h-fu-kata.png' %}" class="img-responsive margin" style="width:30%" alt="ImageU">
              <a>fu</a>
              <img src="{%static 'h-fu3.jpg' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li>
              <li class="list-group-item">
              <img src="{%static 'mu-kata.png' %}" class="img-responsive margin" style="width:30%" alt="ImageU">
              <a>mu</a>
              <img src="{%static 'mu3.jpg' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li>
              <li class="list-group-item">
              <img src="{%static 'ru-kata.png' %}" class="img-responsive margin" style="width:30%" alt="ImageU">
              <a>ru</a>
              <img src="{%static 'ru3.jpg' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li>
              <li class="list-group-item">
              <img src="{%static 'yu-kata.png' %}" class="img-responsive margin" style="width:30%" alt="ImageU">
              <a>yu</a>
              <img src="{%static 'yu3.jpg' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li>
          </ul>
        </div>
    </div>

    <div class="col-sm-2">
      <div class="container bg-3">
          <ul class="list-group" style="width: 26%">
              <li class="list-group-item">
              <img src="{%static 'i-kata.png' %}" class="img-responsive margin" style="width:30%" alt="ImageI">
              <a>i</a>
              <img src="{%static 'i3.jpg' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li>
              <li class="list-group-item">
              <img src="{%static 'ki-kata.png' %}" class="img-responsive margin" style="width:30%" alt="ImageU">
              <a>ki</a>
              <img src="{%static 'ki3.jpg' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li>
              <li class="list-group-item">
              <img src="{%static 'shi-kata.png' %}" class="img-responsive margin" style="width:30%" alt="ImageU">
              <a>shi</a>
              <img src="{%static 'shi3.jpg' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li>
              <li class="list-group-item">
              <img src="{%static 'chi-kata.png' %}" class="img-responsive margin" style="width:30%" alt="ImageU">
              <a>chi</a>
              <img src="{%static 'chi3.jpg' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li>
              <li class="list-group-item">
              <img src="{%static 'ni-kata.png' %}" class="img-responsive margin" style="width:30%" alt="ImageU">
              <a>ni</a>
              <img src="{%static 'ni3.jpg' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li>
              <li class="list-group-item">
              <img src="{%static 'hi-kata.png' %}" class="img-responsive margin" style="width:30%" alt="ImageU">
              <a>hi</a>
              <img src="{%static 'hi3.jpg' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li>
              <li class="list-group-item">
              <img src="{%static 'mi-kata.png' %}" class="img-responsive margin" style="width:30%" alt="ImageU">
              <a>mi</a>
              <img src="{%static 'mi3.jpg' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li>
              <li class="list-group-item">
              <img src="{%static 'ri-kata.png' %}" class="img-responsive margin" style="width:30%" alt="ImageU">
              <a>ri</a>
              <img src="{%static 'ri3.jpg' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li>
          </ul>
        </div>
    </div>

    <div class="col-sm-2">
      <div class="container bg-3">
          <ul class="list-group" style="width: 26%">
            <li class="list-group-item">
              <img src="{%static 'o-kata.png' %}" class="img-responsive margin" style="width:30%" alt="ImageO">
              <a>o</a>
              <img src="{%static 'o3.jpg' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li>
              <li class="list-group-item">
              <img src="{%static 'ko-kata.png' %}" class="img-responsive margin" style="width:30%" alt="ImageU">
              <a>ko</a>
              <img src="{%static 'ko3.jpg' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li> <li class="list-group-item">
              <img src="{%static 'so-kata.png' %}" class="img-responsive margin" style="width:30%" alt="ImageU">
              <a>so</a>
              <img src="{%static 'so3.jpg' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li>
              <li class="list-group-item">
              <img src="{%static 'to-kata.png' %}" class="img-responsive margin" style="width:30%" alt="ImageU">
              <a>to</a>
              <img src="{%static 'to3.jpg' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li>
              <li class="list-group-item">
              <img src="{%static 'no-kata.png' %}" class="img-responsive margin" style="width:30%" alt="ImageU">
              <a>no</a>
              <img src="{%static 'no3.jpg' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li>
              <li class="list-group-item">
              <img src="{%static 'ho-kata.png' %}" class="img-responsive margin" style="width:30%" alt="ImageU">
              <a>ho</a>
              <img src="{%static 'ho3.png' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li>
              <li class="list-group-item">
              <img src="{%static 'mo-kata.png' %}" class="img-responsive margin" style="width:30%" alt="ImageU">
              <a>mo</a>
              <img src="{%static 'mo3.jpg' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li>
              <li class="list-group-item">
              <img src="{%static 'ro-kata.png' %}" class="img-responsive margin" style="width:30%" alt="ImageU">
              <a>ro</a>
              <img src="{%static 'ro3.jpg' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li>
              <li class="list-group-item">
              <img src="{%static 'yo-kata.png' %}" class="img-responsive margin" style="width:30%" alt="ImageU">
              <a>yo</a>
              <img src="{%static 'yo3.jpg' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li>
              <li class="list-group-item">
              <img src="{%static 'wo-kata.png' %}" class="img-responsive margin" style="width:30%" alt="ImageU">
              <a>wo</a>
              <img src="{%static 'wo3.jpg' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li>
          </ul>
        </div>
    </div>



  </div>
</div>

{% endblock %}
