<!DOCTYPE html>
<html lang="en">
<head>
  {% load staticfiles %}
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Study Jananese In Jannonymous</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  body {
      font: 20px Montserrat, sans-serif;
      line-height: 1.8;
      color: 	#5D478B;
  text-align: left;  }


  .bg-3 {
      background-color: #94AAD6;
      color: #;
  }

  .container-fluid {
      padding-top: 50px;
      padding-bottom: 50px;
  }
  .navbar {
      background-color: #D7D7D7;
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 15px;
      letter-spacing: 5px;
  }
  h1 {
      font-family: "Courier New";
      font-size: 60px;
  }

  footer {
      background-color: #FFF0F5
  }
  </style>
</head>
<body>


<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="../home/" style="font-size: 40px"><strong>Janonymous</strong></a>
    </div>
    <div style="font-family: Comic Sans MS; font-size: 15px">
    <ul class="nav navbar-nav">
      <li><a href="#"><strong>Vocabolary</strong></a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><strong>Alphabet</strong>
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Hiragana</a></li>
          <li><a href="../katakana/">Katanaka</a></li>
        </ul>
      </li>
      <li><a href="#"><strong>Grammar</strong></a></li>
      <li><a href="#"><strong>Dialog</strong></a></li>
      <li><a href="../about/"><strong>About</strong></a></li>
      <li><a href="#"><strong>Logout</strong></a></li>
    </ul>
    </div>
  </div>
</nav>


<div class="container-fluid bg-3 text-center">
  <h1 class="margin"><strong>BẢNG TỰ HIRAGANA</strong></h1><br>

  <div class="row">
    <div class="col-sm-1"></div>

    <div class="col-sm-2">
      <div class="container bg-3">
          <ul class="list-group" style="width: 26%">
            <li class="list-group-item">
              <img src="{%static 'alphabet/a-a.png' %}" class="img-responsive margin" style="width:30%" alt="ImageA">
              <a>a</a>
              <img src="{%static 'a1.jpg' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li>
            <li class="list-group-item">
              <img src="{%static 'ka.png' %}" class="img-responsive margin" style="width:30%" alt="ImageU">
              <a>ka</a>
              <img src="{%static 'ka1.png' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li>
            <li class="list-group-item">
              <img src="{%static 'sa.png' %}" class="img-responsive margin" style="width:30%" alt="ImageU">
              <a>sa</a>
              <img src="{%static 'sa1.jpg' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
           </li>
            <li class="list-group-item">
              <img src="{%static 'ta.png' %}" class="img-responsive margin" style="width:30%" alt="ImageU">
              <a>ta</a>
              <img src="{%static 'ta1.jpg' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li>
            <li class="list-group-item">
              <img src="{%static 'na.png' %}" class="img-responsive margin" style="width:30%" alt="ImageU">
              <a>na</a>
              <img src="{%static 'na1.jpg' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li>
            <li class="list-group-item">
              <img src="{%static 'ha.png' %}" class="img-responsive margin" style="width:30%" alt="ImageU">
              <a>ha</a>
              <img src="{%static 'ha1.png' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li>
            <li class="list-group-item">
              <img src="{%static 'ma.png' %}" class="img-responsive margin" style="width:30%" alt="ImageU">
              <a>ma</a>
              <img src="{%static 'ma1.jpg' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li>
            <li class="list-group-item">
              <img src="{%static 'ra.png' %}" class="img-responsive margin" style="width:30%" alt="ImageU">
              <a>ra</a>
              <img src="{%static 'ra1.png' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li>
            <li class="list-group-item">
              <img src="{%static 'ya.png' %}" class="img-responsive margin" style="width:30%" alt="ImageU">
              <a>ya</a>
              <img src="{%static 'ya1.jpg' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li>
            <li class="list-group-item">
              <img src="{%static 'wa.png' %}" class="img-responsive margin" style="width:30%" alt="ImageU">
              <a>wa</a>
              <img src="{%static 'wa1.png' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li>
            <li class="list-group-item">
              <img src="{%static 'n.png' %}" class="img-responsive margin" style="width:30%" alt="ImageU">
              <a>n</a>
              <img src="{%static 'n1.jpg' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li>
          </ul>
        </div>
    </div>

    <div class="col-sm-2">
      <div class="container bg-3">
          <ul class="list-group" style="width: 26%">
              <li class="list-group-item">
              <img src="{%static 'a-e.png' %}" class="img-responsive margin" style="width:30%" alt="ImageE">
              <a>e</a>
              <img src="{%static 'e1.png' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li>
              <li class="list-group-item">
              <img src="{%static 'ke.png' %}" class="img-responsive margin" style="width:30%" alt="ImageU">
              <a>ke</a>
              <img src="{%static 'ke1.png' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li>
              <li class="list-group-item">
              <img src="{%static 'se.png' %}" class="img-responsive margin" style="width:30%" alt="ImageU">
              <a>se</a>
              <img src="{%static 'se1.jpg' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li>
              <li class="list-group-item">
              <img src="{%static 'te.png' %}" class="img-responsive margin" style="width:30%" alt="ImageU">
              <a>te</a>
              <img src="{%static 'te1.jpg' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li>
              <li class="list-group-item">
              <img src="{%static 'ne.png' %}" class="img-responsive margin" style="width:30%" alt="ImageU">
              <a>ne</a>
              <img src="{%static 'ne1.png' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li>
              <li class="list-group-item">
              <img src="{%static 'he.png' %}" class="img-responsive margin" style="width:30%" alt="ImageU">
              <a>he</a>
              <img src="{%static 'he1.jpg' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li>
              <li class="list-group-item">
              <img src="{%static 'me.png' %}" class="img-responsive margin" style="width:30%" alt="ImageU">
              <a>me</a>
              <img src="{%static 'me1.jpg' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li>
              <li class="list-group-item">
              <img src="{%static 're.png' %}" class="img-responsive margin" style="width:30%" alt="ImageU">
              <a>re</a>
              <img src="{%static 're1.jpg' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li>
          </ul>
        </div>
    </div>

    <div class="col-sm-2">
      <div class="container bg-3">
          <ul class="list-group" style="width: 26%">
              <li class="list-group-item">
              <img src="{%static 'a-u.png' %}" class="img-responsive margin" style="width:30%" alt="ImageU">
              <a>u</a>
              <img src="{%static 'u1.jpg' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li>
              <li class="list-group-item">
              <img src="{%static 'ku.png' %}" class="img-responsive margin" style="width:30%" alt="ImageU">
              <a>ku</a>
              <img src="{%static 'ku1.png' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li>
              <li class="list-group-item">
              <img src="{%static 'su.png' %}" class="img-responsive margin" style="width:30%" alt="ImageU">
              <a>su</a>
              <img src="{%static 'su1.jpg' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li>
              <li class="list-group-item">
              <img src="{%static 'tsu.png' %}" class="img-responsive margin" style="width:30%" alt="ImageU">
              <a>tsu</a>
              <img src="{%static 'tsu1.jpg' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li>
              <li class="list-group-item">
              <img src="{%static 'nu.png' %}" class="img-responsive margin" style="width:30%" alt="ImageU">
              <a>nu</a>
              <img src="{%static 'nu1.jpg' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li>
              <li class="list-group-item">
              <img src="{%static 'h-fu.png' %}" class="img-responsive margin" style="width:30%" alt="ImageU">
              <a>fu</a>
              <img src="{%static 'h-fu1.jpg' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li>
              <li class="list-group-item">
              <img src="{%static 'mu.png' %}" class="img-responsive margin" style="width:30%" alt="ImageU">
              <a>mu</a>
              <img src="{%static 'mu1.jpg' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li>
              <li class="list-group-item">
              <img src="{%static 'ru.png' %}" class="img-responsive margin" style="width:30%" alt="ImageU">
              <a>ru</a>
              <img src="{%static 'ru1.jpg' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li>
              <li class="list-group-item">
              <img src="{%static 'yu.png' %}" class="img-responsive margin" style="width:30%" alt="ImageU">
              <a>yu</a>
              <img src="{%static 'yu1.png' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li>
          </ul>
        </div>
    </div>

    <div class="col-sm-2">
      <div class="container bg-3">
          <ul class="list-group" style="width: 26%">
              <li class="list-group-item">
              <img src="{%static 'a-i.png' %}" class="img-responsive margin" style="width:30%" alt="ImageI">
              <a>i</a>
              <img src="{%static 'i1.jpg' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li>
              <li class="list-group-item">
              <img src="{%static 'ki.png' %}" class="img-responsive margin" style="width:30%" alt="ImageU">
              <a>ki</a>
              <img src="{%static 'ki1.png' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li>
              <li class="list-group-item">
              <img src="{%static 'shi.png' %}" class="img-responsive margin" style="width:30%" alt="ImageU">
              <a>shi</a>
              <img src="{%static 'shi1.jpg' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li>
              <li class="list-group-item">
              <img src="{%static 't-chi.png' %}" class="img-responsive margin" style="width:30%" alt="ImageU">
              <a>chi</a>
              <img src="{%static 't-chi1.jpg' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li>
              <li class="list-group-item">
              <img src="{%static 'ni.png' %}" class="img-responsive margin" style="width:30%" alt="ImageU">
              <a>ni</a>
              <img src="{%static 'ni1.jpg' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li>
              <li class="list-group-item">
              <img src="{%static 'hi.png' %}" class="img-responsive margin" style="width:30%" alt="ImageU">
              <a>hi</a>
              <img src="{%static 'hi1.jpg' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li>
              <li class="list-group-item">
              <img src="{%static 'mi.png' %}" class="img-responsive margin" style="width:30%" alt="ImageU">
              <a>mi</a>
              <img src="{%static 'mi1.jpg' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li>
              <li class="list-group-item">
              <img src="{%static 'ri.png' %}" class="img-responsive margin" style="width:30%" alt="ImageU">
              <a>ri</a>
              <img src="{%static 'ri1.jpg' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li>
          </ul>
        </div>
    </div>

    <div class="col-sm-2">
      <div class="container bg-3">
          <ul class="list-group" style="width: 26%">
            <li class="list-group-item">
              <img src="{%static 'a-o.png' %}" class="img-responsive margin" style="width:30%" alt="ImageO">
              <a>o</a>
              <img src="{%static 'o1.jpg' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li>
              <li class="list-group-item">
              <img src="{%static 'ko.png' %}" class="img-responsive margin" style="width:30%" alt="ImageU">
              <a>ko</a>
              <img src="{%static 'ko1.png' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li> <li class="list-group-item">
              <img src="{%static 'so.png' %}" class="img-responsive margin" style="width:30%" alt="ImageU">
              <a>so</a>
              <img src="{%static 'so1.jpg' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li>
              <li class="list-group-item">
              <img src="{%static 'to.png' %}" class="img-responsive margin" style="width:30%" alt="ImageU">
              <a>to</a>
              <img src="{%static 'to1.jpg' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li>
              <li class="list-group-item">
              <img src="{%static 'no.png' %}" class="img-responsive margin" style="width:30%" alt="ImageU">
              <a>no</a>
              <img src="{%static 'no1.jpg' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li>
              <li class="list-group-item">
              <img src="{%static 'ho.png' %}" class="img-responsive margin" style="width:30%" alt="ImageU">
              <a>ho</a>
              <img src="{%static 'ho1.png' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li>
              <li class="list-group-item">
              <img src="{%static 'mo.png' %}" class="img-responsive margin" style="width:30%" alt="ImageU">
              <a>mo</a>
              <img src="{%static 'mo1.jpg' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li>
              <li class="list-group-item">
              <img src="{%static 'ro.png' %}" class="img-responsive margin" style="width:30%" alt="ImageU">
              <a>ro</a>
              <img src="{%static 'ro1.jpg' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li>
              <li class="list-group-item">
              <img src="{%static 'yo.png' %}" class="img-responsive margin" style="width:30%" alt="ImageU">
              <a>yo</a>
              <img src="{%static 'yo1.jpg' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li>
              <li class="list-group-item">
              <img src="{%static 'wo.png' %}" class="img-responsive margin" style="width:30%" alt="ImageU">
              <a>wo</a>
              <img src="{%static 'wo1.jpg' %}" class="img-responsive margin" style="width:100%" alt="ImageA">
            </li>
          </ul>
        </div>
    </div>



  </div>
</div>


<footer class="container-fluid text-center">
   <p>Fujinet JSC</p>
   <p>Website: <a href="https://www.fujinet.net/">https://www.fujinet.net/</a></p>
   <p>Số điện thoại: 028 3847 7000</p>
</footer>

</body>
</html>
