{%  extends 'home/basepage.html' %}
{% load staticfiles %}

{% block body %}
<!-- Third Container (Grid) -->
<div class="container-fluid bg-2 text-center">
  <h1 class="margin"><strong>--JANONYMOUS--</strong></h1>
  <center><h3>初めまして、私たちは  大学のk16 の 学生。</h3></center>
  <center><h3>これから どうぞよろしくお願いします。</h3></center>
  <center><h3>ありがとうございます。</h3></center>
  <div class="row">
    <div class="col-sm-6">
        <p><h1>Nguyễn Thị Thúy Mơ</h1></p>
      {% load static %}
      <center><img src="{%static 'Dog.png' %}" class="img-responsive margin" style="width:60%" alt="Image2"></center>
    </div>
    <div class="col-sm-6">
       <p><h1>Dương Phi Hiểu My</h1></p>
      <center><img src="{%static 'Mouse.png' %}" class="img-responsive margin" style="width:60%" alt="Image3"></center>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
       <p><h1>Võ Kiều Ngân</h1></p>
      <center><img src="{%static 'Huou.png' %}" class="img-responsive margin" style="width:60%" alt="Image2"></center>
    </div>
    <div class="col-sm-6">
       <p><h1>Phạm Trần Quốc Thịnh</h1></p>
      <center><img src="{%static 'Buf.png' %}" class="img-responsive margin" style="width:60%" alt="Image3"></center>
    </div>
    <center><p>Mọi người ơi tin được không???</p></center>
    <center><p>Nhóm Anonymous đã hoàn thành website đầu tiên!!!!!!!</p></center>
    <center><p>Đầu tiên và cực kì quan trọng, team xin gửi lời cảm ơn sâu sắc đến cô Thư, anh Thân, anh Học, anh Khánh, anh Lý, anh Quang, anh Huy, anh Quân đã dành thời gian và công sức quan tâm chúng em.</p></center>
    <center><p>Các anh còn lại mong sẽ có dịp tiếp xúc với các anh, vì mọi người chào đón chúng em rất nhiệt tình nhưng hành tung thần bí và tung tích xa xôi nên vẫn chưa có cơ hội nói chuyện :))</p></center>
    <center><p>Fujinet là công ty đầu tiên chúng em thực tập, nên có nhiều điều mới mẻ, cơ hội đi đôi thách thức.</p></center>
    <center><p>Team hi vọng sẽ hoàn thành đợt thực tập tốt đẹp, mong mọi người giúp đỡ.</p></center>
  </div>
</div>

{% endblock %}